services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,HOST://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,HOST://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ports:
      - "9200:9200"

  ingestion:
    image: eco-ingestion:latest
    container_name: eco-ingestion
    depends_on:
      - kafka
    restart: on-failure

  processor:
    image: eco-processor:latest
    container_name: eco-processor
    depends_on:
      - kafka
      - elasticsearch
    restart: on-failure

  queryapi:
    image: eco-queryapi:latest
    container_name: eco-queryapi
    ports:
      - "8081:8080"
    depends_on:
      - elasticsearch
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_HTTPS_PORT=     # Bu satır HTTPS warning'i bastırır (boş bırak)
      - ASPNETCORE_ENVIRONMENT=Production
    restart: on-failure